.hidden {
    background-color: rgb(100, 120, 180);
}

.empty{
    background-color: #e4d8d8;
}

.water {
    background-color: rgb(50, 50, 224);
}

.rock {
    background-color: rgb(113, 103, 103);
}


