.worldspace {
    width: 3vw;
    height: 3vw;

    background-color: #e4d8d8;
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;

    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(0, 0, 0);
}
table{
    border-collapse: collapse;
    table-layout: fixed;
    width: auto;
}

.player {
    
    outline: 1vw solid rgb(175, 29, 163);
    
}


#verticleButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px; 
    gap: 10px;
}

#horizontalButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.movementButton {
    width: 60px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#world {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 150, 214);
}

.horizontalMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(100, 120, 180);
}

.verticleMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(100, 120, 180);
}